- content_for :header do
  =stylesheet_link_tag "mypage"
  =stylesheet_link_tag "admin/admin"

#contents
  .pages
    - if @pages.empty?
      %p.no-result&= _("The query find no pages.")
    - else
      = render(:partial => "admin/pages/pages")
      = will_paginate(@pages)






