/* ----------------------------------- */
/* hiki_style */
.hiki_style * {
}
.rich_style {
  background-color: #FFFFFF;
  color: #555555;
  width: 98%;
}
.rich_style td {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #555555;
}
.rich_style a[href] {
  color: -moz-hyperlinktext !important;         /* For Firefox... mark as important, otherwise it becomes black */
  text-decoration: -moz-anchor-decoration;      /* For Firefox 3, otherwise no underline will be used */
}
.hiki_style p, .rich_style p, .rich_style div {
  color: #555555;
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  margin: 10px 0;
  line-height: 1.2;
}
.rich_style hr, .hiki_style hr {
  margin: 3px;
}
.rich_style h1, .hiki_style h1 {
  border: 1px solid silver;
  background-color: #f0f0f0;
  margin-top: 0.8em;
}
.rich_style h2, .hiki_style h2 {
  border-left: 10px solid silver;
  border-bottom: 1px solid silver;
  margin-top: 0.8em;
  padding-left: 3px;
}
.rich_style h3, .hiki_style h3 {
  border-left: 5px solid silver;
  border-bottom: 1px dashed silver;
  margin-top: 0.8em;
  padding-left: 3px;
}
.rich_style h4, .hiki_style h4 {
  border-left: 2px solid silver;
  border-bottom: 1px dotted silver;
  margin-top: 0.8em;
  padding-left: 3px;
}
.rich_style h5, .hiki_style h5 {
  border-bottom: 1px dotted silver;
  margin-top: 0.8em;
}
.rich_style ul, .hiki_style ul {
  list-style-type: disc;
  padding-left: 25px;
}
.rich_style ul li, .hiki_style ul li {
}
.rich_style ol, .hiki_style ol {
  list-style-type: decimal;
  padding-left: 25px;
}
.rich_style pre, .hiki_style pre {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
  background-color: #f7f7ff;
  margin-left: 5px;
  border: 1px dashed silver;
  padding: 5px;
}
.rich_style blockquote, .hiki_style blockquote {
  background-color: #fff7f7;
  margin: 2px 2px 2px 10px;
  border: 1px dashed silver;
  padding: 2px 2px 2px 5px;
}
.rich_style big, .hiki_style big {
  font-size: 30px;
  font-weight: bold;
}

