<%
  skip_url = SkipEmbedded::InitialSettings["skip_collaboration"]["skip_url"]
  endpoint = URI.join(skip_url, "/search/full_text_search").to_s
  query_name = 'full_text_query'
  search_label = _("Input keyword to search")
%>

<div id="search">
  <% form_tag(endpoint, :method => 'get', :class => 'skip_fulltext_search') do -%>
    <%= text_field_tag(query_name, search_label, :class => "labeled-field", :size => 40) %>
    <%= submit_tag _('Search') %>
  <% end -%>
</div>

<% content_for :javascript_initializer do -%>
  jQuery("#search input.labeled-field").labeledTextField(<%= {:message => search_label}.to_json %>);
<% end -%>
