default_label:  &label_defaults
  label_defaults:
    # powderblue
    - color: "#b0e0e6"
      display_name: "ラベル なし"
    # lightblue
    - color: "#add8e6"
      display_name: "ラベル 2"
    # skyblue
    - color: "#87cefa"
      display_name: "ラベル 3"
    # palegreen
    - color: "#98fb98"
      display_name: "ラベル 4"
    #greenyellow
    - color: "#adff2f"
      display_name: "ラベル 5"
    #chartreuse
    - color: "#7fff00"
      display_name: "ラベル 6"
    # pink
    - color: "#ffc0cb"
      display_name: "ラベル 7"
    # lightpink
    - color: "#ffb6c1"
      display_name: "ラベル 8"
    # hotpink mod
    - color: "#ff99c4"
      display_name: "ラベル 9"
    # whitesmoke
    - color: "#f5f5f5"
      display_name: "ラベル 10"

quota: &quota
  attachment:
    system: 21474836480 #  20GB
    per_note: 524288000 # 500MB
    each:      10485760 #  10MB

production:
  skip_collaboration:
    secret_key: "---FIXME----BEFORE---DEPLOYMENT---"
    skip_url: "http://product.skip.local"
    fulltext_search:
      endpoint:  "http://product.skip.local/search/full_text_search"
      query_name: "full_text_query"
    fixed_op:
      #disabled: true
      fixed_openid_server_url: "http://sso.test.example.com"
      acceptable_op_urls: []
  <<: *label_defaults
  asset_path: "/Users/moro/tmp/skip-wiki-assets/production"

development:
  skip_collaboration:
    secret_key: "1f3c30382d9f2060baf14f0cdb102fe2"
    skip_url: "http://test.skip.local"
    fulltext_search:
      endpoint:  "http://localhost:3002/search/full_text_search"
      query_name: "full_text_query"
    fixed_op:
      disabled: true
      fixed_openid_server_url: "http://sso.test.example.com"
      acceptable_op_urls: []
  <<: *label_defaults
  quota:
    <<: *quota
  asset_path: "/Users/moro/tmp/skip-wiki-assets/development"

test:
  skip_collaboration:
    secret_key: "1f3c30382d9f2060baf14f0cdb102fe2"
    skip_url: "http://test.skip.local"
    fulltext_search:
      endpoint:  "/search/full_text_search"
      query_name: "full_text_query"
    fixed_op:
      disabled: true
      fixed_openid_server_url: "http://sso.test.example.com"
      acceptable_op_urls: []
  <<: *label_defaults
  quota:
    <<: *quota
  asset_path: "/Users/moro/tmp/skip-wiki-assets/test"

