- content_for :header do
  =stylesheet_link_tag "mypage"
  =stylesheet_link_tag "admin/admin"

#contents
  - div_for(@note, :class => "app-layout") do
    - form_for(@note, :url=>admin_note_path(@note)) do |f|
      =f.error_messages
      = hidden_field_tag "_method", "PUT"
      %table.skipwiki.input
        %tr
          %th=f.label :display_name, h(_("Note|Display name"))
          %td=f.text_field :display_name

        %tr
          %th=f.label :description, h(_("Note|Description"))
          %td=f.text_field :description, :size=>"60"
      = submit_tag _("Update")

