// SKIPからユーザ情報を流すため利用しない予定
#contents
  - div_for(@user, :class => "app-layout") do
    - form_for(@user, :url=>admin_user_path(@user)) do |f|
      =f.error_messages
      = hidden_field_tag "_method", "PUT"
      %table.skipwiki.input
        %tr
          %th=f.label :name, _('User|Name')
          %td=f.text_field :name
        %tr
          %th=f.label :name, _('User|Display name')
          %td=f.text_field :display_name
        %tr
          %th=f.label :admin, _('User|Admin')
          %td
            =f.check_box(:admin)
            =_("This user set admin")

      = submit_tag _("Update")

